
<section id="content">
    <div class="container">
        <div class="block-header">
            <h2>Add Items in your Inventory</h2>
            
            <ul class="actions">
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-trending-up"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-check-all"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#">Refresh</a>
                        </li>
                        <li>
                            <a href="#">Manage Widgets</a>
                        </li>
                        <li>
                            <a href="#">Widgets Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
         
        <div class="card animated mainCard" >
            <div class="card-header ch-alt">
                <h2>Add Item </h2>
            </div>
            
            <div class="card-body card-padding">
                <div class="form-group fg-float m-b-30">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm">
                        <label class="fg-label">Bill No</label>
                    </div>
                </div>
                                  
                <div class="form-group fg-float m-b-30">
                    <div class="fg-line ">
                        <div class="select">
                            <select class="form-control">
                                <option>Choose Seller</option>
                                <option value="{{seller.seller_id}}" ng-repeat="seller in selleritems">{{seller.seller_name}} || {{seller.seller_location}}</option>
                            </select>
                            <label class="fg-label">Choose Seller</label>
                        </div>
                    </div>
                </div>

                <div class="form-group fg-float m-b-30">
                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input type='text' class="form-control date-picker" placeholder="Enter Purchase Date">
                            <label class="fg-label">Purchase Date</label>
                        </div>
                    </div>                    
                </div>
                        
                <button class="btn btn-info" id="next">Next</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </div>

        <div class="card animated dynamicCard">
            <div class="card-header ch-alt">
              <h2><button class="btn btn-danger btn-icon waves-effect waves-circle waves-float" id="backBtn"><i class="zmdi zmdi-arrow-back"></i></button> &nbsp;&nbsp; Add Item </h2>
            </div>
            
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-sm-12 m-b-25">
                        <div class="panel-group" data-collapse-color="green" id="accordionGreen" role="tablist" aria-multiselectable="true">                    
                            <div class="panel panel-collapse" ng-repeat="stock in stockData">

                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" target="_self" id="mainTab{{$index+1}}" data-parent="#accordionGreen" href="#{{$index+0}}" aria-expanded="true">
                                            Item #{{$index+1}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{$index+0}}" class="collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="card-body card-padding">

                                                <div class="form-group">
                                                    <label for="batchNo" class="col-sm-2 control-label">Batch No</label>
                                                    <div class="col-sm-10">
                                                        <div class="fg-line">
                                                            <input type="text" class="form-control input-sm" id="batchNo" placeholder="Enter Batch No">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="DrugName" class="col-sm-2 control-label">Choose Drug</label>
                                                    <div class="col-sm-10">
                                                        
                                                        <div class="fg-line">
                                                            <select class="form-control" id="DrugName">
                                                                <option>Choose Drug</option>
                                                                <option value="{{drug.product_id}}" ng-repeat="drug in drugDetails">{{drug.product_name}}</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                </div>    

                                                <div class="form-group">
                                                    <label for="quantity" class="col-sm-2 control-label">Quantity</label>
                                                    <div class="col-sm-10">
                                                        <div class="fg-line">
                                                            <input type="text" class="form-control input-sm" id="quantity" placeholder="Enter Quantity">
                                                        </div>
                                                    </div>
                                                </div>  

                                                <div class="form-group">
                                                    <label for="vprice" class="col-sm-2 control-label">Vendor Price / unit</label>
                                                    <div class="col-sm-10">
                                                        <div class="fg-line">
                                                            <input type="text" class="form-control input-sm" id="vprice" placeholder="Enter Purchase Price">
                                                        </div>
                                                    </div>
                                                </div>  

                                                <div class="form-group">
                                                    <label for="cprice" class="col-sm-2 control-label">Customer Price / unit</label>
                                                    <div class="col-sm-10">
                                                        <div class="fg-line">
                                                            <input type="text" class="form-control input-sm" id="cprice" placeholder="Enter Customer Price">
                                                        </div>
                                                    </div>
                                                </div> 

                                                <div class="form-group">
                                                    <label for="mdate" class="col-sm-2 control-label">Manufacture Date</label>
                                                    <div class="col-sm-10">
                                                        <div class="fg-line">
                                                            <input type="text" class="form-control input-mask" data-mask="00/00/0000" placeholder="eg: 23/05/2014">
                                                        </div>
                                                    </div>
                                                </div> 

                                                <div class="form-group">
                                                    <label for="edate" class="col-sm-2 control-label">Expiry Date</label>
                                                    <div class="col-sm-10">
                                                        <div class="fg-line">
                                                            <input type='text' class="form-control date-picker" placeholder="Enter Purchase Date">
                                                        </div>
                                                    </div>
                                                </div>      

                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <button type="submit" class="btn btn-primary btn-sm">Sign in</button>

                                                        <button class="btn bgm-lightgreen btn-float waves-effect" style="right: -10px !important;position: relative !important;bottom: 5px;" ng-click="addStockRow($index+1)"><i class="zmdi zmdi-plus"></i></button>

                                                        <button class="btn bgm-red btn-float waves-effect" style="right: -10px !important;position: relative !important;bottom: 5px;" ng-click="deleteStockRow($index+0)"><i class="zmdi zmdi-close"></i></button>
                                                    </div>
                                                </div>
                                            </div>        
                                        </form>                                                          
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="panel panel-collapse">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="collapsed" target="_self" data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-two" aria-expanded="false">
                                            Collapse Green #2
                                        </a>
                                    </h4>
                                </div>
                                <div id="accordionGreen-two" class="collapse" role="tabpanel">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="vendors/bower_components/moment/min/moment.min.js"></script>
<script src="vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="js/functions.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(".dynamicCard").hide();
        $("#next").click(function(){
           $(".mainCard").addClass("fadeOutRight");
           $(".mainCard").fadeOut("slow",function(){
                $(".dynamicCard").show();
                $(".dynamicCard").removeClass("fadeOutRight");
                $(".dynamicCard").addClass("fadeInLeft");
           });
           
        });
        $("#backBtn").click(function(){
            $(".dynamicCard").removeClass("fadeInLeft");
            $(".dynamicCard").addClass("fadeOutRight");
            $(".mainCard").fadeIn("slow",function(){
                $(".mainCard").removeClass("fadeOutRight");
                $(".mainCard").removeClass("fadeInLeft");
                $(".mainCard").addClass("fadeInLeft");
             });
            /*$(".mainCard").show();
            $(".mainCard").addClass("fadeInLeft");*/
           /*$(".mainCard").fadeOut("slow",function(){
                $(".mainCard").show();
                $(".mainCard").addClass("fadeInLeft");
           });*/
        });
    })
</script>