<html lang="en" >
   <head>
	<title>Dealer Info</title>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="css2/angular-material.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link rel="stylesheet" href="css2/style2.css">
	  
</head>

<body ng-app="firstApplication"> 
	
    <div id="inputContainer" class="inputDemo" ng-controller="inputController as ctrl" ng-cloak>
	
	
		<section layout-sm="column" layout-align="center center" layout-wrap="" >
	 <div flex-xs="" flex-gt-xs="99"  layout="column" class="layout-column flex-xs flex-gt-xs-99">
				
	<md-toolbar class="_md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
			<h2>Dealer info</h2>
		<span class="flex" flex=""></span>
        
        <!--<button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" ng-click="cancel()">
          <md-icon style="cursor:pointer;" md-svg-src="images/information.svg" ng-click="cancel()" aria-label="Close dialog" aria-hidden="true"></md-icon>
		 </md-icon>
        </button>-->
      </div>
	  
    </md-toolbar>
	</div>
	 </section>
	 
	 
	 <section layout-sm="column" layout-align="center center" layout-wrap="" >
			    <div flex-xs="" flex-gt-xs="99" layout-padding  layout="column" class="layout-column flex-xs flex-gt-xs-99">
					<md-content>
						<md-card>
							<md-image>
							<a href="#"><img src="images/map.gif" class="md-card-image" ></a>
							</md-image>
					
				
						</md-card>
					</md-content>
				 </div>
		</section>
	 
	 
			<section layout-sm="column" layout-align="center center" layout-wrap="">
						<div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
								
						
					
							<md-card-icon-actions>
							   <button class="md-icon-button md-button  md-ink-ripple" type="button"  >
								<md-icon style="color:#333;" md-svg-src="images/placeholder.svg"></md-icon>
								</button>
								<span class="md-caption">2111 Barrett Lakes Road Boulevard, GA 653254</span>
							  </md-card-icon-actions>	

							<md-card-icon-actions>
							   <button class="md-icon-button md-button  md-ink-ripple" type="button"  >
								<md-icon style="color:#333;" md-svg-src="images/mail.svg"></md-icon>
								</button>
								<span class="md-caption">SSS@gmail.com</span>
							  </md-card-icon-actions>


								<md-card-icon-actions>
							   <button class="md-icon-button md-button  md-ink-ripple" type="button"  >
								<md-icon style="color:#333;" md-svg-src="images/mobile-phone.svg"></md-icon>
								</button>
								<span class="md-caption">8965324587</span>
							  </md-card-icon-actions>		

				</div>
					</section>
					
			<section layout="row" layout="column" layout-align="center center" layout-wrap="" >
	 			 <div flex-xs="" flex-gt-xs="99" layout-padding layout="column" class="layout-column flex-xs flex-gt-xs-99">
				<button layout-padding="" class="md-warn md-raised md-hue-2 md-button md-ink-ripple layout-padding btn-red" type="button" ng-transclude="">
				<span class="ng-scope">Send</span></button>
		</div>
		 </section>
						</div>
	

	

			 <script src="js2/test.js"></script>
		  <script src="js2/angular.min.js"></script>
		  <script src="js2/angular-animate.min.js"></script>
		  <script src="js2/angular-aria.min.js"></script>
		  <script src="js2/angular-messages.min.js"></script>
		  <script src="js2/angular-material.min.js"></script>
		
			 <script language="javascript">
			 angular
				.module('firstApplication', ['ngMaterial'])
				.controller('inputController', inputController);

			 function inputController ($scope) {
			   $scope.project = {
				  comments: 'Comments',    
			   };
			 }    
			</script>
			
			
		
	  
 </body>


 </html>