<html lang="en" >
   <head>
	<title>Price Information</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	
	<!--Angular-->
	   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="css/angular-material.min.css">     
	   <link rel="stylesheet" href="css2/style2.css">
	  
	 <!--Bootstrap-->
	  <link rel="stylesheet" href="css/bootstrap.css"/>
	  <link rel="stylesheet" href="css/bootstrap.min.css"/>
	  <link rel="stylesheet" href="css/style2.css"/>
	  
	    <!---Card--->
	  <link rel="stylesheet" href="css/material.css"/>
	  <link rel="stylesheet" href="css/app.min.1.css"/>
	</head>
	
<body ng-app="firstApplication"> 

<div id="rect">
	<div id="content1">
<!---Body--->
	 <div id="inputContainer" ng-controller="inputController as ctrl" ng-cloak>
	 
	 <!---Top Image--->
	 		<section layout="row" layout="column" layout-align="center center" layout-wrap="">
			 <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
			 <md-card>
							<div class="card-body card-padding">  
							 <div class="lightbox photos">
								<div class="col-md-6 col-sm-6 col-xs-12">
                                     <div class="lightbox-item p-item space">
                                         <img src="images/car2.jpg" alt="">
                                     </div>
                                 </div>
								</div>
						
							<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="lightbox-item p-item">
							<md-card-title>
								<md-card-title-text>
								<span class="md-headline">Hyundai i10 Era CC</span>
								<span class="md-caption">Rs 4,50,000-6,00,000</span>
								<span class="md-caption">2000 Kms | Petrol | 2015 | 2 Owners</span>
								<span class="md-caption">Adyar, Chennai</span>
								</md-card-title-text>
								</md-card-title-text>							
							</md-card-title>
							</div>
							</div>
							<hr>
							
							<div class="col-md-6 col-sm-6 col-xs-12">
							<div align="center" class="mdl-card__actions mdl-card--border" >
							<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">View More</a>
							</div>
							</div>
							<div class="mdl-card__menu">
							<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">share</i>
							</button>
							</div>
							</md-card>
			 </div>			
		</section>
		
		
		<!---Type of Inventory--->
	 
	 <section layout="row" layout="column" layout-align="center center" layout-wrap="">
			 <div flex-xs="" flex-gt-xs="50" layout="column" >
			 <h2>Type of Inventroy</h2>
			 <div layout layout-padding layout-align="left end">
				<md-switch ng-model="data.cb1" aria-label="Switch 1"></md-switch>
			    <md-checkbox ng-model="AtDealerpoint" class="md-caption">At Dealer Point</md-checkbox>
			    <md-checkbox ng-model="AtDoorstep" class="md-caption">At Door Step</md-checkbox>
			</div>
		</div>
		
	</section>
		
<section layout="row" layout="column" layout-align="center center" layout-wrap="">
			 <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
			
			 
			 <div ng-cloak>
			 <!---Park and Sell--->	
			 <md-content>
					<md-tabs md-dynamic-height md-border-bottom>
					
					 <md-tab label="Park and Sell">
						<md-content >
						
				<div layout-padding layout-align="left">
					
						<h3>Purchase Information</h3>
					<md-input-container class="md-block flex-gt-sm md-input-has-value" >
						
						 <label>Customer</label>
							<md-select name="type" ng-model="">
							<md-option value="app">Dealer</md-option>
							<md-option value="web">Broker</md-option>
							<md-option value="web">Car ale</md-option>
							<md-option value="web">OLX</md-option>
						</md-select>
						</md-input-container>
						<br>
						
						<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<input style="border-color:#CCC;" placeholder="Name" aria-label="Name" type="text">
						</md-input-container>
						
						<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<input style="border-color:#CCC;" placeholder="From Date" aria-label="From Date" type="text">
						</md-input-container>
						
						<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<input style="border-color:#CCC;" placeholder="Starting Km" aria-label="Starting Km" type="text">
						</md-input-container>					
																
						<md-input-container class="md-block flex-gt-sm md-input-has-value" >
						 <label>Fuel Indication</label>
							<md-select name="type" ng-model="">
							<md-option value="app">Yes</md-option>
							<md-option value="web">No</md-option>
						</md-select>
						</md-input-container>
						<br>
						
						<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<input style="border-color:#CCC;" placeholder="Customer Asking Price" aria-label="Customer Asking Price" type="text">
						</md-input-container>
						
						<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<input style="border-color:#CCC;" placeholder="Dealer Markup Price" aria-label="Dealer Markup Price" type="text">
						</md-input-container>
						
													
						 <div flex-xs="" flex-gt-xs="50" layout="column" >
						 <div flex="50" layout layout-align="left end" style="padding--right:10px;">
							<span flex="45">Keys Received</span>
							<div flex="20">
							<md-radio-group ng-model="data.group1">
											<md-radio-button value="Yes" class="md-primary">
												<span class="md-subhead">Yes</span>
										</md-radio-button>
									</md-radio-group>
							</div>
							<div flex="20">
							<md-radio-group ng-model="data.group1">
											<md-radio-button value="No" class="md-primary">
												<span class="md-subhead">No</span>
										</md-radio-button>
									</md-radio-group>
							</div>
						</div>
					</div>
					<br>
					
												
						 <div flex-xs="" flex-gt-xs="50" layout="column" >
						 <div flex="50" layout layout-align="left end" style="padding--right:10px;">
							<span flex="45">Document Received</span>
							<div flex="20">
							<md-radio-group ng-model="data.group1">
											<md-radio-button value="Yes1" class="md-primary">
												<span class="md-subhead">Yes</span>
										</md-radio-button>
									</md-radio-group>
							</div>
							<div flex="20">
							<md-radio-group ng-model="data.group1">
											<md-radio-button value="No1" class="md-primary">
												<span class="md-subhead">No</span>
										</md-radio-button>
									</md-radio-group>
							</div>
						</div>
					</div>
			</div>
		</div>
	</md-content>
		
					
					 <md-tab label="Park and Sell">
						<md-content >
						
				<div layout-padding layout-align="left">
					
						<h3>Purchase Information</h3>
					<md-input-container class="md-block flex-gt-sm md-input-has-value" >
						
						 <label>Customer</label>
							<md-select name="type" ng-model="">
							<md-option value="app">Dealer</md-option>
							<md-option value="web">Broker</md-option>
							<md-option value="web">Car ale</md-option>
							<md-option value="web">OLX</md-option>
						</md-select>
						</md-input-container>
						<br>
						
						<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<input style="border-color:#CCC;" placeholder="Name" aria-label="Name" type="text">
						</md-input-container>
						
						<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<input style="border-color:#CCC;" placeholder="From Date" aria-label="From Date" type="text">
						</md-input-container>
						
						<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<input style="border-color:#CCC;" placeholder="Starting Km" aria-label="Starting Km" type="text">
						</md-input-container>					
																
						<md-input-container class="md-block flex-gt-sm md-input-has-value" >
						 <label>Fuel Indication</label>
							<md-select name="type" ng-model="">
							<md-option value="app">Yes</md-option>
							<md-option value="web">No</md-option>
						</md-select>
						</md-input-container>
						<br>
						
						<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<input style="border-color:#CCC;" placeholder="Customer Asking Price" aria-label="Customer Asking Price" type="text">
						</md-input-container>
						
						<md-input-container md-no-float="" class="md-block md-icon-left md-input-placeholder">
							<input style="border-color:#CCC;" placeholder="Dealer Markup Price" aria-label="Dealer Markup Price" type="text">
						</md-input-container>
						
													
						 <div flex-xs="" flex-gt-xs="50" layout="column" >
						 <div flex="50" layout layout-align="left end" style="padding--right:10px;">
							<span flex="45">Keys Received</span>
							<div flex="20">
							<md-radio-group ng-model="data.group1">
											<md-radio-button value="Yes" class="md-primary">
												<span class="md-subhead">Yes</span>
										</md-radio-button>
									</md-radio-group>
							</div>
							<div flex="20">
							<md-radio-group ng-model="data.group1">
											<md-radio-button value="No" class="md-primary">
												<span class="md-subhead">No</span>
										</md-radio-button>
									</md-radio-group>
							</div>
						</div>
					</div>
					<br>
					
												
						 <div flex-xs="" flex-gt-xs="50" layout="column" >
						 <div flex="50" layout layout-align="left end" style="padding--right:10px;">
							<span flex="45">Document Received</span>
							<div flex="20">
							<md-radio-group ng-model="data.group1">
											<md-radio-button value="Yes1" class="md-primary">
												<span class="md-subhead">Yes</span>
										</md-radio-button>
									</md-radio-group>
							</div>
							<div flex="20">
							<md-radio-group ng-model="data.group1">
											<md-radio-button value="No1" class="md-primary">
												<span class="md-subhead">No</span>
										</md-radio-button>
									</md-radio-group>
							</div>
						</div>
					</div>
			</div>
		</div>
	</md-content>
		

		</md-tab>
					
					
					
					
			<!---OWN--->		
					
					<md-tab label="Own">
						<md-content >
						
				<div layout-padding layout-align="left">
					
						<h3>Purchase Information</h3>
						
						<md-input-container class="md-block flex-gt-sm md-input-has-value" >
						 <label>Customer</label>
							<md-select name="type" ng-model="">
							<md-option value="app">Dealer</md-option>
							<md-option value="web">Broker</md-option>
							<md-option value="web">Car ale</md-option>
							<md-option value="web">OLX</md-option>
						</md-select>
						</md-input-container>
						<br>
						
						<md-input-container class="md-block md-input-has-value" >
					<label>Name</label>
						<input name="name" ng-model="project.name" >
						</md-input-container>
					
					
					<md-input-container class="md-block md-input-has-value" >
					<label>Purchase Price</label>
						<input name="Purchaseprice" ng-model="project.Purchaseprice" >
						</md-input-container>
					
					
					<md-input-container class="md-block md-input-has-value" >
					<label>Purchased Date</label>
						<input name="Purchasedate" ng-model="project.Purchasedate" >
						</md-input-container>
					
				<md-input-container class="md-block" >
					<div layout-gt-sm="row" class="layout-row" layout-padding>
						<span>Keys Received</span>
					<div flex="30">
					
					<md-radio-group ng-model="data.group1">
							<md-radio-button value="Yes" class="md-primary">
								<span class="md-subhead">Yes</span>
						</md-radio-button>
					</md-radio-group>
					</div>
					<div flex="30">
				<md-radio-group ng-model="data.group1">
							<md-radio-button value="No" class="md-primary">
								<span class="md-subhead">No</span>
						</md-radio-button>
					</md-radio-group>
					</div>
					</div>
				</md-input-container>
				
				<md-input-container class="md-block" >
					<div layout-gt-sm="row" class="layout-row" layout-padding>
						<span>Docs Received</span>
					<div flex="30">
					
					<md-radio-group ng-model="data.group1">
							<md-radio-button value="Yes" class="md-primary">
								<span class="md-subhead">Yes</span>
						</md-radio-button>
					</md-radio-group>
					</div>
					<div flex="30">
				<md-radio-group ng-model="data.group1">
							<md-radio-button value="No" class="md-primary">
								<span class="md-subhead">No</span>
						</md-radio-button>
					</md-radio-group>
					</div>
					</div>
				</md-input-container>
		</div>
	</md-content>
					</md-tab>
						
						
						
						
						
						
						
					
				</md-tabs>
				
				</md-content>
		
				</div>
		
	
		
			</div>			
		</section>

<section layout="row"  layout="column" layout-align="center center" layout-wrap="">
			 <div flex-xs="" layout-padding flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
			
			<md-content>
			<h2 align="center">Expenses</h2>
			<br>
			<md-input-container class="md-block md-input-has-value" >
					<label>Refurbishment Cost</label>
						<input name="Refurbishment" ng-model="project.Refurbishment" >
			</md-input-container>
						
						
			<md-input-container class="md-block md-input-has-value" >
					<label>Transport Cost</label>
						<input name="Transport" ng-model="project.Transport" >
			</md-input-container>
			
			<md-input-container class="md-block md-input-has-value" >
					<input name="text" ng-model="project.text" >
			</md-input-container>
			</md-content>
		 </div>
</section>


	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" >
		<div layout-gt-sm="row" class="layout-gt-sm-row"  layout-align="left">
			<button class="md-fab md-primary md-button md-ink-ripple" type="button" >
		<md-icon md-svg-src="images/add-button.svg" class="ng-scope" aria-hidden="true"></md-icon>
		</button>

		</div>
	</section>
	
	
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" >
	<div layout-align="left">
			<h3>Markup Price</h3>
					<md-input-container class="md-block" >
					<div layout-gt-sm="row" class="layout-row" layout-padding>
						
					<div flex="50">
					
					<md-radio-group ng-model="data.group1">
							<md-radio-button value="Yes" class="md-primary">
								<span class="md-subhead">Percentagew</span>
						</md-radio-button>
					</md-radio-group>
					</div>
					<div flex="50">
				<md-radio-group ng-model="data.group1">
							<md-radio-button value="No" class="md-primary">
								<span class="md-subhead">Absoluteq</span>
						</md-radio-button>
					</md-radio-group>
					</div>
					</div>
				</md-input-container>

	</div>
</section>





		
	</div>
	</div>
	
		
		
			<div id="footer-bottom">
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
		 <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
             <div layout="row"  class="layout-sm-column layout-align-center-center layout-row">
				<button class="md-warn md-raised md-hue-2 md-button md-ink-ripple bth-height " layout-padding flex="50" 
				type="button" ng-transclude=""><a href="inventory-images.html">Images & Videos</a></button>
				<button class="md-primary md-raised md-hue-2 md-button md-ink-ripple bth-height" layout-padding flex="50" 
				type="button" ng-transclude=""><a href="price-information.html">Price Information</a></button>
			</div>
		  </div>
    </section>
	
	 
		
     </div>


<!---Body--->

<!-----Js Scripts------->

	<!-----Angular js------->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/angular-aria.min.js"></script>
	<script src="js/angular-messages.min.js"></script>
	<script src="js/angular-material.min.js"></script>
	
	
	
	<!-----Bootstrap js------->
	<!---<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/npm.js"></script>-->
	

	
	<!--Common Script-->
	 <script language="javascript">
			 angular
				.module('firstApplication', ['ngMaterial'])
				.controller('inputController', inputController);

			 function inputController ($scope) {
			   $scope.project = {
				  comments: 'Comments',    
			   };
			 }    
	 </script>
	 
	 
<script language="javascript">	 

angular.module('switchDemo1', ['ngMaterial'])
.controller('SwitchDemoCtrl', function($scope) {
  $scope.data = {
    cb1: true,
    cb4: true,
    cb5: false
  };

  $scope.message = 'false';

  $scope.onChange = function(cbState) {
  	$scope.message = cbState;
  };
});

</script>

</body>



</html>