<html>
    <head>
        <title>Basic Info</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="css/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/style2.css">
        <link rel="stylesheet" href="css/extra.css">
    </head>

    <body ng-app="firstApplication"> 
        <div id="inputContainer" class="inputDemo" ng-controller="inputController as ctrl" ng-cloak>
            <!--Register-->
            <section layout="row" layout="column" layout-align="center center" layout-wrap="">
                <div flex-xs="" flex-gt-xs="50" layout-padding layout="column" class="layout-column flex-xs flex-gt-xs-50">
                    <form name="registerForm">
                        <md-input-container class="md-block flex-gt-sm md-input-has-value">
                            <select placeholder="Registration Year" ng-model="year" class="selectbox-style">
                                <md-option value="1990">1990</md-option>
                                <md-option value="1991">1991</md-option>
                                <md-option value="1992">1992</md-option>
                            </select>
                        </md-input-container>

                        <md-input-container class="md-block flex-gt-sm md-input-has-value">
                            <select placeholder="Select Make" ng-model="make" class="selectbox-style">
                                <md-option value="Maruti">Maruti</md-option>
                                <md-option value="Tata Motors">Tata Motors</md-option>
                                <md-option value="Hyundai">Hyundai</md-option>
                            </select>
                        </md-input-container>

                        <md-input-container class="md-block flex-gt-sm md-input-has-value">
                            <select placeholder="Select Model" ng-model="model" class="selectbox-style">
                                <option value="">Select Model</option>
                                <option value="BMW1 Series">BMW1 Series</option>
                                <option value="Audi A6">Audi A6</option>
                                <option value="Fiat Abarth">Fiat Abarth</option>
                            </select>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-has-value">
                            <select placeholder="Select Varient" ng-model="varient" >
                                <md-option value="EMT Diesel">EMT Diesel</md-option>
                                <md-option value="EMT Petrol">EMT Petrol</md-option>
                                <md-option value="SAT Petrol">SAT Petrol</md-option>
                            </select>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-has-value">
                            <select placeholder="Select Category" ng-model="category" class="selectbox-style">
                                <md-option value="Sedan">Sedan</md-option>
                                <md-option value="HatchBack">HatchBack</md-option>
                                <md-option value="SUV">SUV</md-option>
                            </select>
                        </md-input-container>
                        <md-input-container md-no-float="" class="md-block flex-gt-sm md-input-has-value input-adjtot">
                            <input style="border-color:#CCC;" placeholder="Total Distance" type="text">
                        </md-input-container>
                        <md-input-container md-no-float="" class="md-block flex-gt-sm md-input-has-value input-adjmil">
                            <input style="border-color:#CCC;" placeholder="Mileage" type="text">
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-has-value">
                            <select placeholder="Ownership" ng-model="ownership" class="selectbox-style">
                                <md-option value="First Owner">First Owner</md-option>
                                <md-option value="Second Owner">Second Owner</md-option>
                                <md-option value="Third Owner">Third Owner</md-option>
                            </select>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-has-value">
                            <select placeholder="Car Status" ng-model="status"  class="selectbox-style">
                                <md-option value="Good">Good</md-option>
                                <md-option value="Medium">Medium</md-option>
                                <md-option value="Excellent">Excellent</md-option>
                            </select>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-has-value">
                            <select placeholder="Color" ng-model="color" class="selectbox-style">
                                <md-option value="Red">Red</md-option>
                                <md-option value="Blue">Blue</md-option>
                                <md-option value="Green">Green</md-option>
                            </select>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-has-value">
                            <select placeholder="Location" ng-model="location" class="selectbox-style">
                                <md-option value="Andaman">Andaman</md-option>
                                <md-option value="Chennai">Chennai</md-option>
                                <md-option value="Amravati">Amravati</md-option>
                            </select>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-has-value">
                            <select placeholder="Select Fuel Type" ng-model="fuel class="selectbox-style">
                                <md-option value="Petrol">Petrol</md-option>
                                <md-option value="Diesel">Diesel</md-option>
                                <md-option value="Gas">Gas</md-option>
                            </select>
                        </md-input-container>
                        <div layout="row"  class="layout-sm-column layout-align-center-center layout-row">

                            <button class="md-warn md-raised md-hue-2 md-button md-ink-ripple" layout-padding flex="50" style="min-height: 54px;" type="button" ng-transclude="">Cancel</button>
                            <button class="md-primary md-raised md-hue-2 md-button md-ink-ripple" layout-padding flex="50" style="min-height: 54px;" type="button" ng-transclude="">Images & Videos</button>

                        </div>
                    </form>
                </div>
        </div>
        <script src="js/test.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-messages.min.js"></script>
        <script src="js/angular-material.min.js"></script>
        <script language="javascript">
                                angular
                                        .module('firstApplication', ['ngMaterial'])
                                        .controller('inputController', inputController);

                                function inputController($scope) {
                                    $scope.project = {
                                        comments: 'Comments',
                                    };
                                }
        </script>
    </body>
</html>