<html lang="en" >
   <head>
	<title>Car View Details</title>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="css2/angular-material.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link rel="stylesheet" href="css2/style2.css">
	  
	    <link rel="stylesheet" href="css2/bootstrap.min.css" />
		 <link rel="stylesheet" href="css2/bootstrap-theme.css" />
	  
</head>

<body ng-app="firstApplication"> 


 <div id="inputContainer" class="inputDemo" ng-controller="inputController as ctrl" ng-cloak>
		<section layout="row" layout="column" layout-align="center center" layout-wrap="" style="margin-bottom:10px;">
		 <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
			 <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1140px; height: 442px; overflow: hidden;">
				<div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1140px; height: 442px; overflow: hidden;"> 
				<div>
                    <img u="image" src="images/01.jpg" />
                </div>
                <div>
                   <video width="1140" controls>
						<source src="images/demo.mp4" type="video/mp4">
					</video>
					
                </div>
				<div>
                    <img u="image" src="images/02.jpg" />
                </div>
               
            </div>
		 </div>
	</div>
			</section>
			
		
			
					
						<section layout="row" layout-sm="row" layout-align="center" layout-wrap="" style="margin-top:10px;">
						<div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50" style="margin-top:10px;">
								<div flex="" layout="row" layout-align="start center" class="layout-align-start-center layout-row flex">
										<div flex="60" class="ng-binding flex">
											
							  <md-card-icon-actions>
							   <button class="md-icon-button md-button  md-ink-ripple" type="button"  >
								<md-icon style="color:#333;" md-svg-src="images/like.svg"></md-icon>
								</button>
								 <button class="md-icon-button md-button  md-ink-ripple" type="button"  >
								<md-icon style="color:#333;" md-svg-src="images/share.svg"></md-icon>
								</button>
								
							 </md-card-icon-actions>
				
			
										
					</div>
					<div flex="33" class="md-label md-caption">IMAGES: 3 Videos: 1</div>
					</div>			
				</div>
					</section>
			
			
		
			<section layout="row" layout-sm="row" layout-align="center" layout-wrap=""  style="margin-top:10px;">
				<div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50" style="margin-top:10px;">
						<div flex="" layout="row" layout-padding="" layout-align="start center" class="layout-align-start-center layout-row flex">
								<div flex="" class="ng-binding flex"><b>Hyundai I10 Era 1080 cc </b>Rs 40000 </div>
						</div>			
				</div>
			</section>
			
		
					<section layout="row" layout-sm="row" layout-align="center" layout-wrap="">
			
							<div style="width:70px; height:100px;">
							<div style="width:100%;">
							<button class="md-fab md-button md-primary" type="button"  >
							<md-icon style="color:#FFF;" md-svg-src="images/speedometer.svg"></md-icon></button>
							</div>
							<div style="width:100%; text-align:center !important;">
								<span>19.30</span>	
							</div>
							</div>
							
							
							<div style="width:70px; height:50px;">
							<div style="width:100%;">
							<button class="md-fab md-button md-primary" type="button"  >
							<md-icon style="color:#FFF;" md-svg-src="images/kms.svg"></md-icon></button>
							</div>
							<div style="width:100%; text-align:center !important;">
								<span>2000</span>	
							</div>
							</div>
							
							
							
								<div style="width:70px; height:50px;">
							<div style="width:100%;">
							<button class="md-fab md-button md-primary" type="button"  >
							<md-icon style="color:#FFF;" md-svg-src="images/owner.svg"></md-icon></button>
							</div>
							<div style="width:100%; text-align:center !important;">
								<span>2</span>	
							</div>
							</div>

							

							
						
								<div style="width:70px; height:50px;">
							<div style="width:100%;">
							<button class="md-fab md-button md-primary" type="button"  >
								<md-icon style="color:#FFF;" md-svg-src="images/calendar.svg"></md-icon></button>
							</div>
							<div style="width:100%; text-align:center !important;">
								<span>2015</span>	
							</div>
							</div>
							
							
						
								<div style="width:70px; height:50px;">
							<div style="width:100%;">
							<button class="md-fab md-button md-primary" type="button"  >
									<md-icon style="color:#FFF;" md-svg-src="images/seat.svg"></md-icon></button>
							</div>
							<div style="width:100%; text-align:center !important;">
								<span>5</span>	
							</div>
							</div>
					</section>
					
					
					
					
					<!--Spefication & Features-->
		<section layout="row" layout="column" layout-align="center center" layout-wrap="" style="height="100%">
			    <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
      
			<!--<md-card style="height="100%">-->
			<div ng-cloak>
				<md-content>
				
				
					<md-tabs >
					<md-tab-body>
					<md-tab label="Car Specification">
										<div class="md-padding" layout="column" layout-sm="column" layout-align="center">
											
												<p>
												<div flex="" layout="row" layout-padding layout-align="start center" >
															<div flex="" class="ng-binding flex">Color</div>
															<div class="md-label">Red</div>
												    </div>
													</p>
												 
												  <p><div flex="" layout="row" layout-padding="" layout-align="start center" >
														<div flex="" class="ng-binding flex">Gear Box</div>
															<div class="md-label">Red</div>
												  </div></p>
												  
												  <p><div flex="" layout="row" layout-padding="" layout-align="start center" >
														<div flex="" class="ng-binding flex">Drive type</div>
															<div class="md-label">-</div>
												  </div></p>
												  
												  <p><div flex="" layout="row" layout-padding=""  layout-align="start center" >
														<div flex="" class="ng-binding flex">Seating Capacity</div>
															<div class="md-label">5</div>
												  </div></p>
												  
												  <p><div flex="" layout="row" layout-padding=""  layout-align="start center" >
														<div flex="" class="ng-binding flex">Steering type</div>
															<div class="md-label">-</div>
												  </div></p>
												  
												  <p><div flex="" layout="row" layout-padding=""  layout-align="start center" >
														<div flex="" class="ng-binding flex">Turning Radius</div>
															<div class="md-label">-</div>
												  </div></p>
												  
												  
												    <p><div flex="" layout="row" layout-padding=""  layout-align="start center" >
														<div flex="" class="ng-binding flex">Acceleration</div>
															<div class="md-label">-</div>
												  </div></p>
												  
												    <p><div flex="" layout="row" layout-padding=""  layout-align="start center" >
														<div flex="" class="ng-binding flex">Tyre type</div>
															<div class="md-label">-</div>
												  </div></p>
												  
												    <p><div flex="" layout="row" layout-padding=""  layout-align="start center" >
														<div flex="" class="ng-binding flex">No of doors</div>
															<div class="md-label">-</div>
												  </div></p>
													
											</div>
								</md-tab>
								
								
						
								
								
									<md-tab label="Engine">
								<md-content class="md-padding">
						<div class="md-padding" layout="column" layout-sm="column" layout-align="center" >
					 
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Engine Type</div>
							<div class="md-label">5.0 V8 495 HP</div>
						</div></p>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Max Power</div>
							<div class="md-label">460/5500</div>
						</div></p>
						
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Max Torque</div>
							<div class="md-label">625/5500</div>
						</div></p>
						
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">No Of Cylinder</div>
							<div class="md-label">-</div>
						</div></p>
						
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Valves per Cylinder</div>
							<div class="md-label">-</div>
						</div></p>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Valve configuration</div>
							<div class="md-label">-</div>
						</div></p>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Fuel Supply System</div>
							<div class="md-label">-</div>
						</div></p>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Turbo Charger</div>
							<div class="md-label">-</div>
						</div></p>
						
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Super Charger</div>
							<div class="md-label">-</div>
						</div></p>
				</div>
				</md-content>
			</md-tab>
			
			
				<md-content class="md-padding">
						<div class="md-padding" layout="column" layout-sm="column" layout-align="center" >
					 
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Length</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Width</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Height</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Wheel Base</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Gross Weight</div>
							<div class="md-label">-</div>
						</div></p>
				</div>
				</md-content>
			</md-tab>
			
			
			
			<md-tab label="Car Interior Features">
				<md-content class="md-padding">
					<div class="md-padding" layout="column" layout-sm="column" layout-align="center" >
					
					<p><div flex="" layout="row" layout-padding="" layout-align="center center">
						<div flex=""class="ng-binding flex">Air Conditioner</div>
							<div class="md-label"><button class="md-fab md-button md-primary md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
							<md-icon class="ng-scope" aria-hidden="true">check</md-icon></button>
						</div>
					</div></p>
						<br>					
					  <p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex="" class="ng-binding flex">Adjustable Steering</div>
								<div class="md-label">-</div>
					  </div></p>
					  <br>
					   <p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex="" class="ng-binding flex">Leather Steering Wheel</div>
								<div class="md-label">-</div>
					  </div></p>
					  <br>
					  <p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex="" class="ng-binding flex">Heater</div>
								<div class="md-label">-</div>
					  </div></p>
					  <br>
					  <p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex="" class="ng-binding flex">Digital Clock</div>
								<div class="md-label">-</div>
					  </div></p>
					  </div>
				</md-content>
			</md-tab>
			
				
			<md-tab label="Car Comfort">
				<md-content class="md-padding">
						<div class="md-padding" layout="column" layout-sm="column" layout-align="center" >
					 
						<p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex=""class="ng-binding flex">Air Conditioner</div>
								<div class="md-label"><button class="md-fab md-button md-primary md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">check</md-icon></button>
							</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Power windows front</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Power windows rear</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Remote trunk opener</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Remote fuel lid opener</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Low fuel warning light</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rear reading lamp</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rear seat centre arm rest</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Height adjustable front seat belts</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Cup holders front</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rear ac vents</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Parking sensors</div>
							<div class="md-label">-</div>
						</div></p>
					</div>
				</md-content>
			</md-tab>
			
			
				<md-tab label="Car Comfort">
				<md-content class="md-padding">
						<div class="md-padding" layout="column" layout-sm="column" layout-align="center" >
					 
						<p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex=""class="ng-binding flex">Air Conditioner</div>
								<div class="md-label"><button class="md-fab md-button md-primary md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">check</md-icon></button>
							</div>
						</div>
						<br>
							<p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex=""class="ng-binding flex">Power windows front</div>
								<div class="md-label"><button class="md-fab md-button md-warn md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">close</md-icon></button>
							</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Power windows rear</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Remote trunk opener</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Remote fuel lid opener</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Low fuel warning light</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rear reading lamp</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rear seat centre arm rest</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Height adjustable front seat belts</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Cup holders front</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rear ac vents</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Parking sensors</div>
							<div class="md-label">-</div>
						</div></p>
					</div>
				</md-content>
			</md-tab>
			
			
			<md-tab label="Car Safety">
				<md-content class="md-padding">
						<div class="md-padding" layout="column" layout-sm="column" layout-align="center" >
					 
						<p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex=""class="ng-binding flex">Anti lock braking system</div>
								<div class="md-label"><button class="md-fab md-button md-primary md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">check</md-icon></button>
							</div>
						</div></p>
						<br>
							<p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex=""class="ng-binding flex">Central locking</div>
								<div class="md-label"><button class="md-fab md-button md-warn md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">close</md-icon></button>
							</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Child safety lock</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Driver airbags</div>
							<div class="md-label"><button class="md-fab md-button md-warn md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">close</md-icon></button>
							</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Passenger airbag </div>
							<div class="md-label"><button class="md-fab md-button md-warn md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">close</md-icon></button>
							</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rear seat belts</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Seat belt warning</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Adjustable seats</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Crash sensor</div>
							<div class="md-label">-</div>
						</div>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Anti theft device</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Immobilizer</div>
							<div class="md-label">-</div>
						</div></p>
					</div>
				</md-content>
			</md-tab>
			
			
			<md-tab label="Car Exterior">
				<md-content class="md-padding">
						<div class="md-padding" layout="column" layout-sm="column" layout-align="center" >
					 
						<p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex=""class="ng-binding flex">Adjustable head lights</div>
								<div class="md-label"><button class="md-fab md-button md-primary md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">check</md-icon></button>
							</div>
						</div></p>
						<br>
							<p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex=""class="ng-binding flex">Power adjustable exterior rear view mirror </div>
								<div class="md-label"><button class="md-fab md-button md-warn md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">close</md-icon></button>
							</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Electric folding rear view mirror</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rain sensing wipers</div>
							<div class="md-label"><button class="md-fab md-button md-warn md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">close</md-icon></button>
							</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rear window wiper</div>
							<div class="md-label"><button class="md-fab md-button md-warn md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">close</md-icon></button>
							</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Alloy wheels</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Tinted glass</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Front fog lights</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rear window wiper </div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="" class="ng-binding flex">Rear window wiper </div>
							<div class="md-label">-</div>
						</div></p>
					
					</div>
				</md-content>
			</md-tab>
			
			
				<md-tab label="Car Entertinment">
				<md-content class="md-padding">
						<div class="md-padding" layout="column" layout-sm="column" layout-align="center" >
					 
						<p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex="">CD Player</div>
								<div class="md-label"><button class="md-fab md-button md-primary md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">check</md-icon></button>
							</div>
						</div></p>
						<br>
							<p><div flex="" layout="row" layout-padding="" layout-align="center center" >
							<div flex="">Radio</div>
								<div class="md-label"><button class="md-fab md-button md-warn md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">close</md-icon></button>
							</div>
						</div></p>
						<br>
						
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="">Audio</div>
							<div class="md-label">-</div>
						</div></p>
						<br>
						<p><div flex="" layout="row" layout-padding="" layout-align="start center" >
							<div flex="">Bluetooth</div>
							<div class="md-label"><button class="md-fab md-button md-warn md-ink-ripple" type="button" ng-transclude="" aria-label="tick" style="width:35px; height:28px;" >
								<md-icon class="ng-scope" aria-hidden="true">close</md-icon></button>
							</div>
						</div></p>
								
					</div>
				</md-content>
			</md-tab>
			
			</md-tabs>
				
				</md-content>
				</md-tab-body>	

			</div>
		<!--</md-card>-->
		</section>	
		
			<section layout="row" layout-sm="row" layout-align="center" layout-wrap="">
					<div flex-xs="" flex-gt-xs="50" layout="row" class="layout-column flex-xs flex-gt-xs-50">
					<md-icon style="cursor:pointer;" md-svg-src="images/message.svg" ng-click="showTabDialog($event)"></md-icon>
					<md-icon style="cursor:pointer;" md-svg-src="images/information.svg" ng-click="showAdvanced($event)"></md-icon>
					<md-icon style="cursor:pointer;" md-svg-src="images/loan.svg" ng-click="showAdvanced($event)"></md-icon>
					<md-icon style="cursor:pointer;" md-svg-src="images/chat.svg" ng-click="showAdvanced($event)"></md-icon>
					<md-icon style="cursor:pointer;" md-svg-src="images/telephone.svg" ng-click="showAdvanced($event)"></md-icon>
			</div>
			</section>
</div>	
		
			<script src="js2/test.js"></script>
			  <script src="js2/bootstrap.js"></script>
			 <script src="js2/bootstrap.min.js"></script>
			  <script src="js2/slider-docs.js"></script>
			  <script src="js2/jquery-1.9.1.min.js"></script>
			  
			  <script src="js2/jssor.slider.mini.js"></script>
			  <script src="js2/bootstrap.min.js"></script>
				
		
			 
		  <script src="js2/angular.min.js"></script>
		  <script src="js2/angular-animate.min.js"></script>
		  <script src="js2/angular-aria.min.js"></script>
		  <script src="js2/angular-messages.min.js"></script>
		  <script src="js2/angular-material.min.js"></script>
		
			 <script language="javascript">
			 angular
				.module('firstApplication', ['ngMaterial'])
				.controller('inputController', inputController);

			 function inputController ($scope) {
			   $scope.project = {
				  comments: 'Comments',    
			   };
			 }    
			 
			 
			 angular.module('firstApplication', ['ngMaterial'])
			.controller('inputController', function($scope, $mdDialog) {
			  $scope.status = '  ';
			  $scope.customFullscreen = false;
		
			  
				  $scope.showTabDialog = function(ev) {
					$mdDialog.show({
					  controller: inputController,
					  templateUrl: 'sendmessage.html',
					  parent: angular.element(document.body),
					  targetEvent: ev,
					  clickOutsideToClose:true,
					  fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
					})
					.then(function(answer) {
					  $scope.status = 'You said the information was "' + answer + '".';
					}, function() {
					  $scope.status = 'You cancelled the dialog.';
					});
				  };

			  });
			  

			</script>
			
			
		
			
			
			
			 <script>

        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $Idle: 2000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $Cols: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Scale: false                                   //Scales bullets navigator or not while slider scale
                },

                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Rows: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 12,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 4,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                    $Scale: false                                   //Scales bullets navigator or not while slider scale
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    jssor_slider1.$ScaleWidth(parentWidth - 30);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
			
			
		
	  
 </body>


 </html>