<html lang="en" >
   <head>
	<title>Register</title>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="css2/angular-material.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link rel="stylesheet" href="css2/style2.css">
	  
</head>

<body ng-app="firstApplication"> 
	
    <div id="inputContainer" class="inputDemo" ng-controller="inputController as ctrl" ng-cloak>
	<br>
		<!--LOGO-->
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
			<img src="images/logo.png" >
		</section>
	
		
			<!--Register-->
		<section layout="row" layout="column" layout-align="center center" layout-wrap="">
			    <div flex-xs="" flex-gt-xs="99" layout-padding layout="column" class="layout-column flex-xs flex-gt-xs-50">
					<md-content layout-padding>
					<md-input-container class="md-block">
					<md-icon  style="color:#333;" md-svg-src="images/user-silhouette.svg"></md-icon>
					<label>Description</label>
					<input required md-no-asterisk name="DealerName" ng-model="project.DealerName">
					<div ng-messages="projectForm.DealerName.$error">
					  <div ng-message="required">This is required.</div>
          
        </div>
      </md-input-container>
	  
	  
	  <md-input-container class="md-block">
        <label>Description</label>
        <input required md-no-asterisk name="description" ng-model="project.description">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
        </div>
      </md-input-container>
	  
						
					</md-content>
				
			
				
				
				
			
				
				
				
				
			
	 </section>
	
	
	 

	</div>
	

	

		
		  <script src="js2/angular.min.js"></script>
		  <script src="js2/angular-animate.min.js"></script>
		  <script src="js2/angular-aria.min.js"></script>
		  <script src="js2/angular-messages.min.js"></script>
		  <script src="js2/angular-material.min.js"></script>
		
			 <script language="javascript">
			 angular
				.module('firstApplication', ['ngMaterial'])
				.controller('inputController', inputController);

			 function inputController ($scope) {
			   $scope.project = {
				  comments: 'Comments',    
			   };
			 }    
			 
			 angular.module('firstApplication', ['ngMaterial', 'ngMessages'])

			.controller('inputController', function($scope) {
			  $scope.project = {
				description: 'Nuclear Missile Defense System',
				rate: 500
			  };
			});
			</script>
			
			
		
	  
 </body>


 </html>